<div class="welcomeContainer">
    <img class="welcomeMat" src="../images/1663063_blue.png" />
    <br>
    <div class="btnContainer">
        <a class="btn3" href="/users/login">LOGIN</a>
        <a class="btn3" href="/users/signup">SIGN UP</a>
    </div>
</div>